@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.dateTime {
  padding: 10px;
}

.h2 {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.h5 {
  margin: 0;
}

.button {
  width: 30px;
  height: 20px;
}
