@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

  h2, h3, h5 {
    padding: 0;
    margin: 10px 5px 10px 5px;
    text-align: center;
  }

  .contact, .button {
    margin: 10px;
  }

  .buttonContainer {
    margin: 20px;
    width: 400px;
    display: flex;
    justify-content: space-between;
  }

  .grid {
    padding: 15px;
  }
}
